Tests: upstream-tests-openssl
Depends: curl, @builddeps@
Restrictions: allow-stderr

Tests: upstream-tests-gnutls
Depends: @builddeps@
Restrictions: allow-stderr

Tests: upstream-event-based-tests-openssl
Depends: @builddeps@
Restrictions: allow-stderr

Tests: upstream-event-based-tests-gnutls
Depends: @builddeps@
Restrictions: allow-stderr

Tests: curl-ldapi-test
Depends: gcc, libc-dev, libcurl4-openssl-dev | libcurl-dev, libldap-dev, slapd, pkgconf
Restrictions: allow-stderr, isolation-container, needs-root

Tests: build-using-libcurl-openssl
Depends: build-essential, libcurl4-openssl-dev, pkgconf
Restrictions: superficial

Tests: build-using-libcurl-gnutls
Depends: build-essential, libcurl4-gnutls-dev, pkgconf
Restrictions: superficial

Test-Command: curl --ech true --doh-url 'https://1.1.1.1/dns-query' 'https://defo.ie/ech-check.php' | grep 'SSL_ECH_STATUS: success'
Restrictions: needs-internet, allow-stderr
Depends: curl, ca-certificates
